html {
    font-family: FiraMono, "Lucida Console", monospace;
    font-size: 120%;
}

body {
    max-width: 630px;
    background: #282828;
    color: #EBDBB2;
    padding: 80px 7% 50px 7%;
    box-shadow: 0 0 0 5px #B16286 inset;
}

body a:link, body a:visited {
    color: #98971A;
}

body a:hover  {
    color: #B8BB26;
}

h1, h2, h3, h4, h5, h6 {
    color: #D79921;
}

footer {
    color: #928374;
}

/* Choose language page */

div {
    padding: 30px;
    box-shadow: 0 0 0 5px #B16286 inset;
}

/* Font */

@font-face {
    font-family: 'FiraMono';
    font-style: normal;
    src: url('../fonts/FiraMono/FiraMono-Regular.eot'); /* IE9 Compat Modes */
    src: local('FiraMono Regular'), local('FiraMono-Regular'),
         url('../fonts/FiraMono/FiraMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FiraMono/FiraMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/FiraMono/FiraMono-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FiraMono/FiraMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
